# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated
objs/
gen/
*_idl.xml
Chat.xml
Chat.h*
Chat.c*
ChatPlugin.h*
ChatPlugin.c*
ChatSupport.h*
ChatSupport.c*
makefile_Chat_*

# cmake
build/

# Visual Studio
x86
Debug-*
Release-*
*.suo
*.vcxproj*
*.csproj*
*.sln


# OSX
.DS_Store

/Default/
